.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bio-card{
  display: flex;
 justify-content: center;
 align-items: center;
}
.card{
  display: flex;
}
#pic{
  border-radius: 50%;
}
.hire{
  color: red;
}
